.datepicker {
  position: relative;
  width: 100%;
  font-family: "Benton Sans", sans-serif;
  margin-bottom: 16px;
}

.inputName {
  font-size: 0.75rem;
  font-weight: 500;
  color: #070e46;
  margin-bottom: 4px;
}
