.inputContainer {
  position: relative;
  border: 1.5px solid #070e46;
  border-radius: 8px;
  transition: border-color 0.3s, background-color 0.3s;

  &.error {
    border-color: #d32f2f;
  }

  &.disabled {
    border-color: rgb(214, 213, 213);

    .dropdownIcon,
    .clearIcon {
      opacity: 0.3;
      cursor: not-allowed;
    }

    .inputField {
      cursor: not-allowed;
    }
  }

  .label {
    position: absolute;
    top: 5px;
    left: 8px;
    font-size: 10px;
    color: rgba(7, 14, 70, 0.5);
    background: transparent;
    padding: 0 4px;
    transform: translateY(0);
    transform-origin: left center;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    pointer-events: none;

    &.disabled {
      color: rgb(214, 213, 213);
      cursor: not-allowed;
    }

    &.errorLabel {
      color: #e53935;
    }
  }

  .inputField {
    width: 100%;
    padding: 14px 40px 14px 12px;
    padding-top: 20px;
    border: none;
    background: transparent;
    font-size: 0.75rem;
    font-weight: 500;
    outline: none;
    box-sizing: border-box;
    color: #070e46;
    position: relative;
    z-index: 2;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &::placeholder {
      opacity: 0;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    @media (max-width: 800px) {
      max-width: 350px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .clearIcon {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #001391;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    transition: color 0.2s ease;

    &:hover {
      color: #000;
    }
  }

  .dropdownIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    cursor: pointer;
    z-index: 2;

    &.rotate {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.errorMessage {
  color: #d32f2f;
  font-size: 0.65rem;
  margin-top: 4px;
  padding-left: 5px;
}
